<button class="btn btn-default" (click)="getData()">
  Refresh Disk
</button>
<button class="btn btn-default" (click)="getYoutubeUrl()">
  Get Youtube URL
</button>
<button class="btn btn-default" (click)="getYoutubeVideos()">
  Get Videos
</button>
<button class="btn btn-default" (click)="uploadVideo()">
  Upload Video
</button>
<div class="list-frame">
  <div #cnt></div>
</div>
<div class="modal fade" #laster role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Load file</h4>
      </div>
      <div class="modal-body">
        <p>Load file {{currentNode ? currentNode.text : ''}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="loadData(currentNode)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
